.jumbotron
    h1 Get up in our analytics.
    p LowCrow is an analytics suite devoted to delivering the latest trends and data regarding social information.

.row
    .col-md-3
        img.center-svg(src='SVG/twitter.svg')
        h3.text-center Twitter.
        p Get Tweets in real time via location, keywords, and specific demographics.
    .col-md-3
        img.center-svg(src='SVG/facebook_2.svg')
        h3.text-center Facebook.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend egestas malesuada. Suspendisse vel ultrices quam, non pulvinar metus. Vestibulum scelerisque nisl id enim auctor vulputate. Morbi venenatis mattis ornare. Pellentesque in porttitor mauris. Aliquam placerat ullamcorper ligula, ullamcorper venenatis elit vehicula id. Pellentesque at tortor ac purus mattis tempus. Nulla condimentum, lacus non tristique dictum, ipsum mauris porta est, a porta augue magna sit amet velit. Fusce ut imperdiet tortor.
    .col-md-3
        img.center-svg(src='SVG/instagram.svg')
        h3.text-center Instagram.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend egestas malesuada. Suspendisse vel ultrices quam, non pulvinar metus. Vestibulum scelerisque nisl id enim auctor vulputate. Morbi venenatis mattis ornare. Pellentesque in porttitor mauris. Aliquam placerat ullamcorper ligula, ullamcorper venenatis elit vehicula id. Pellentesque at tortor ac purus mattis tempus. Nulla condimentum, lacus non tristique dictum, ipsum mauris porta est, a porta augue magna sit amet velit. Fusce ut imperdiet tortor.
    .col-md-3
        img.center-svg(src='SVG/chart.svg')
        h3.text-center More.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend egestas malesuada. Suspendisse vel ultrices quam, non pulvinar metus. Vestibulum scelerisque nisl id enim auctor vulputate. Morbi venenatis mattis ornare. Pellentesque in porttitor mauris. Aliquam placerat ullamcorper ligula, ullamcorper venenatis elit vehicula id. Pellentesque at tortor ac purus mattis tempus. Nulla condimentum, lacus non tristique dictum, ipsum mauris porta est, a porta augue magna sit amet velit. Fusce ut imperdiet tortor.