.row
    .col-12.col-sm-12.col-lg-12
        h3 {{establishment}}
        h4 {{address}}
.row
    .col-8.col-sm-8.col-lg-8
        table.table.table-striped
            thead
                tr
                    th Date Inspected
                    th Critical Violations
                    th Noncritical Violations
                    th Full Report
            tr(ng-repeat='r in inspections | orderBy:"date_of_inspection":true')
                td {{r.date_of_inspection | date:"MM/dd/yyyy"}}
                td {{r.critical_violations.total}}
                td {{r.noncritical_violations.total}}
                td 
                    a.btn.btn-primary(target='_blank' href='{{r.response_url}}') View
    .col-4.col-sm-4.col-lg-4
        leaflet(width='100%' height='519px' center='dc')