.row(ng-controller='PestCtrl')
    .col-12.col-sm-12.col-lg-12
        h1 Latest pest violations {{restaurants.length}}
    .col-12.col-sm-12.col-lg-12
        table.table(ng-table='tableParams' show-filter='true')
            thead
                th Establishment Name
                th Date 
                th Address
                th Critical Violations
                th Noncritical Violations
                th Report URL
            tr(ng-repeat='r in restaurants')
                td {{r.establishment_name}}
                td {{r.date_of_inspection | date:"MM/dd/yyyy"}}
                td 
                    a(target='_blank' href='http://maps.google.com/?q={{r.address}} {{r.city_state_zip}}') {{r.address}} 
                        br 
                        {{r.city_state_zip}}
                td {{r.critical_violations.total}} 
                td {{r.noncritical_violations.total}}
                td
                    a.btn.btn-primary(target='_blank' href='{{r.response_url}}') View Full Report