.row(ng-controller='PestCtrl')
    .col-12.col-sm-12.col-lg-12
        h1 Latest pest violations {{restaurants.length}}
    .col-6.col-sm-6.col-lg-6
        table.table.table-striped
            thead
                tr
                    th #
                    th Establishment
                    th Date 
                    th Violations
            tr(ng-repeat='r in filteredItems = (restaurants | orderBy:"date_of_inspection":true )')
                td {{$index+1}}
                td 
                    strong {{r.establishment_name}}
                    br
                    a(target='_blank' href='http://maps.google.com/?q={{r.address}} {{r.city_state_zip}}') {{r.address}} 
                        br 
                        {{r.city_state_zip}}
                td {{r.date_of_inspection | date:"MM/dd/yyyy"}}
                    br
                    a.btn.btn-primary.btn-xs(target='_blank' href='{{r.response_url}}') Full Report
                td {{r.critical_violations.total}} Critical
                    br
                    {{r.noncritical_violations.total}} Non-critical
    .col-6.col-sm-6.col-lg-6
        leaflet(width='100%' height='519px' center='dc')