button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Hide Filters
.row(collapse='isCollapsed')
    .col-2.col-sm-2.col-lg-2
        h5 Sort By
        ul
            li Name
            li Date
            li Most Violations
            li Least Violations
    .col-2.col-sm-2.col-lg-2
        h5 Zip Code
        ul
            li 20024
            li 20025
            li 20026
    .col-2.col-sm-2.col-lg-2
        h5 Quick Filter
        ul
            li Pest Reports
            li Cleanest Spots
hr
.row
    .col-8.col-sm-8.col-lg-8
        table.table.table-striped
            thead
                tr
                    th #
                    th Establishment
                    th Last Inspection 
                    th Times Inspected
                    th Averages per Inspection
            tr(ng-repeat='r in restaurants | orderBy:"recent_inspection":true | startFrom:currentPage*maxSize | limitTo:maxSize')
                td {{$index+1}}
                td 
                    a(href='establishment/{{r._id.establishment_name}}/{{r._id.address}}') {{r._id.establishment_name}}
                    br
                    {{r._id.address}}
                    br
                    {{r._id.city_state_zip}}
                td {{r.recent_inspection | date:"MM/dd/yyyy"}}
                td {{r.number_of_reports}}
                td {{r.average_criticals | roundUp }} Criticals
                    br
                    {{r.average_noncriticals | roundUp }} Noncriticals
                    br
                    {{((r.total_crit_r + r.total_noncrit_r)/r.number_of_reports) | roundUp }} Repeat Violations
        pagination(total-items='restaurants.length' page='currentPage' max-size='maxSize' class='pagination-lg')
    .col-4.col-sm-4.col-lg-4
        leaflet(width='100%' height='519px' center='dc')