.splash-div{
  background-image: url('images/back.jpg');
  background-size: 100%;
  width:1280px;
  height:853px;
}

body { 
  min-height: 850px; 
  padding-top: 50px;
}

 .nav, .pagination, .carousel a { cursor: pointer; }